.App {
  text-align: center;
  height: 90vh;
  margin-top: 5vh;
}

.btn.btn-primary {
  padding: 0.05rem 0.5rem;
  margin: 0.25em;
}

.cancelled {
  color: red
}

.date {
  display:inline-block;
  text-align: center;
  margin: 1em;
  vertical-align: top;
}

.dates {
  position: relative;
  top: 2vh
}

.dates, .games {
  height: 48vh;
  max-height: 48vh;
}

.final, .winTeam {
  color: dodgerblue
}

.game, .gameDetail {
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 5px;
  padding-top: 7px;
}

.game:hover, .teamSwitch:hover {
  background-color: lightskyblue;
  color: azure;
  cursor: pointer;
}

.game:hover span.final, .game:hover p.winTeam {
  color: #007bff
}

.games {
  overflow: scroll;
  overflow-y: scroll;
  position: relative;
}

h3, h5 {
  margin-top: 1em;
  margin-bottom: 0;
}

#home {
  position: absolute;
  top: 85%;
  left: 95%;
  transform: translateX(-50%)
}

.innings {
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
}

input {
  display: block;
  text-align: center;
  position: relative;
  left: 50%;
  width: 3em;
  transform: translateX(-50%)
}

input[type = number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.link:hover {
  text-decoration: none
}

.offset-3.teamSwitch {
  border-right: 1px solid lightgray
}

.postponed {
  color: gold
}

.results {
  position: fixed;
  top: 5%;
  left: 0%;
}

.scoreRight {
  position: relative;
  right: 90%;
}

.selected {
  border: 1px solid gold
}

.teamSwitch {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  vertical-align: top;
}

.textLeft {
  text-align: left
}

.textRight {
  text-align: right
}

.winTeam {
  font-weight: bold;
  font-size: 1.15rem;
}